body{ width:100%; background-color:#DCDCDC;}
header{color:white; background: linear-gradient(
    to left,
    rgba(73,4,4, 0),
    rgba(73,4,4, 100)
  ),url(libimage.jpg);box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
  }
  
article{margin-left:100px; margin-right:100px;box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); height:1000px; position:relative;}
  
img.logo{
	float:left; width:70px; hegiht:90px; margin-right:25px;}
nav{
	padding:20px 0;
	min-width:500px;
}
nav ul{
	margin-left:7px;
	margin-right:1px;
	padding-bottom:8px;
	padding-top:8px;
	width:93%;
	display:inline-table;
	transform:translate(10px,20px);
	z-index:33;
	background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}
/*div.bgimage{ background:url("libimage.jpg"); background-repeat:none; filter:blur(5px); z-index:1; width:100%;height:100%; }*/
li.logout{float:right;}
nav ul li{display:inline-block;}
nav ul li a{padding:10px; 
	color:white;
	font-size:18px;
	font-family:Arial;
	text-decoration:none;
	display:bloak;
}
nav ul li a:hover{color:orange;}

div.linkbox{
	display:block;
	margin:15px;
	text-decoration:none;
	border-radius:2px;
	width:110px;
	height:120px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	padding:8px 8px;
	box-sizing:box-border;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
}
div.linkbox:hover{background:rgba(135,206,250,0.4);}

div.linkbox img{width:70px; height:70px; }
div#addbook{float:left; display:block;margin-left:50px;}
div#addmember{float:left; display:inline-block; clear:both; position:relative; margin-left:50px;}
div#issuebk{float:right; margin-right:60px; position:relative;}
div#returnbk{display:inline-block; float:right; margin-right:60px; position:relative;}
div#renew{display:inline-block; float:right; clear:both; margin-right:60px;position:relative;}
div#viewcatelog{float:left; display:inline-block; clear:left;margin-left:50px;}

div.slideshow{ display:block;	
				box-sizing:box-border;
				border-radius:5px;
				padding:10px; 
				background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
				box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
				margin:15px; 
				transform:translate(5px,-325px); 
				width:700px; height:300px; 
				animation-name:slideShow; 
				animation-duration:15s; 
				animation-iteration-count:infinite; 
				float:left;
}
@keyframes slideShow{
	0%{background-image:url(1.jpg);}
	20%{background-image:url(2.jpg);}
	40%{background-image:url(3.jpg);}
	60%{background-image:url(4.jpg);}
	80%{background-image:url(5.jpg);}
	100%{background-image:url(6.jpg);}
	}


