body{ width:100%; background-color:#DCDCDC;}
header{font-family: cursive, Arial, "Sans-serif", "Times New Roman"; height:285px;font-family:Arial, "Sans-serif", "Times New Roman"; padding:5px; color:white; background: linear-gradient(
    to left,
    rgba(73,4,4, 0),
    rgba(73,4,4, 100)
  ),url(../images/libimage.jpg);box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
  }
  
article{margin-left:100px; margin-right:100px;box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
		height:760px; position:relative;}
  
img.siyanelogo{border-radius:100%; margin-right:25px; float:left; width:120px; height:120px; display:inline-block;}
nav{
	transform: translate(0px, -40px);
	padding:6px 0;
	min-width:500px;
}

nav ul{
	margin-left:7px;
	margin-right:1px;
	padding-bottom:5px;
	padding-top:5px;
	width:93%;
	display:inline-table;
	transform:translate(10px,20px);
	z-index:33;
	background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}

li.logout{float:right;}
nav ul li{display:inline-block;}
nav ul li a{padding:10px; 
	color:white;
	font-size:18px;
	font-family: Arial, "Sans-serif", "Times New Roman";
	text-decoration:none;
	display:block;
}
nav ul li a:hover{color:orange;}

div.linkbox{
	display:block;
	margin:15px;
	text-decoration:none;
	border-radius:2px;
	width:110px;
	height:120px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #490404), to(#FFFFFF));
	padding:8px 8px;
	box-sizing:border-box;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
}
div.linkbox:hover{background:rgba(73,4,4,0.5);}

div.linkbox img{width:70px; height:70px; }
div#myProfile{float:left; display:block;margin-left:20px; margin-top:30px;}
div#searchbk{float:left; display:inline-block; clear:both; position:relative; margin-left:20px;}
div#prevRecords{float:left; clear:both; margin-left:20px; position:relative; display:inline-block;}



/* link area*/
section.linkarea{ z-index:7; position:relative; display:inline-block;
	background:linear-gradient(0deg,rgba(156,23,23,0.8),rgba(108,16,16,0.8),rgba(73,4,4,0.9));
	border-radius:10px; margin:10px 0; width:230px; float:right;
	box-shadow: 0 0 25px rgba(0,0,0,0.6),inset 0 0 1px rgba(255,255,255,0.6);
	transform:translate(-10px,-365px);  padding:10px;}

div.stretch{padding:5px; overflow:hidden; width:200px; height:50px; border-radius:10px; background-color:rgba(222,221,202,1); transition:height 3s ;transition-timing-function:ease-out;
	color:grey;}
i.TPnumber{color:grey;}
p.hidden{visibility:hidden;}
div.stretch:hover{ color:black;height:250px;background-color:rgba(222,221,202,1);}


div.head_top{}

a.sncoelink{text-decoration: none; color: ghostwhite;}
a.sncoelink:hover{color:orange;}

div.slideText{font-family: cursive, Arial, "Sans-serif", "Times New Roman"; }

/*for slide show*/

* {box-sizing:border-box}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
	display:inline-block;
	box-sizing:border-box;
	border-radius:5px;
	padding:10px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
	margin:15px;
	transform: translate(10px,-40px);
	width:700px; height:300px;
	position: relative;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {

	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}




footer{padding:1px; width:100%; color:black; background-image:url("../images/footer.jpg");}


div.About{font-family: cursive, Arial, "Sans-serif", "Times New Roman"}
span.ency{font-size: 12px;}

div.para1 , div.para2{
	text-align: justify;
	font-family: cursive,Arial, "Sans-serif", "Times New Roman";
	width: 500px;
	display:inline-block;
	padding:10px;
	margin:15px;
	position: relative;
}
div.para1{display:inline-block;  transform: translate(400px,35px);}
div.para2{ display: inline-block; transform: translate(10px,-200px) }

h2.heading{color:rgb(249,112,7); text-shadow: 2px 2px 2px grey ; text-align: center;}