body{ width:100%; background-color:#DCDCDC;}
header{ font-family:cursive, Arial, "Sans-serif", "Times New Roman"; height:285px ; padding:5px; color:white; background: linear-gradient(
    to left,
    rgba(73,4,4, 0),
    rgba(73,4,4, 100)
  ),url(../images/libimage.jpg);box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
  }
  
article{margin-left:100px; margin-right:100px;box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
		height:1000px; position:relative;}

div.slideText{font-family: cursive, Arial, "Sans-serif", "Times New Roman";}

img.siyanelogo{border-radius:100%; margin-right:25px; float:left; width:120px; height:120px; display:inline-block;}
nav{
	padding:3px 0;
	min-width:500px;
}

nav ul{
	margin-left:7px;
	margin-right:1px;
	padding-bottom:5px;
	padding-top:5px;
	width:93%;
	display:inline-table;
	transform:translate(10px,-20px);
	z-index:33;
	background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}

li.logout{float:right;}
nav ul li{display:inline-block;}
nav ul li a{padding:10px; 
	color:white;
	font-size:18px;
	font-family:Arial;
	text-decoration:none;
	display:block;
}
nav ul li a:hover{color:orange;}

div.linkbox{
	display:block;
	margin:15px;
	text-decoration:none;
	border-radius:2px;
	width:110px;
	height:120px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	padding:8px 8px;
	box-sizing:border-box;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
}
div.linkbox:hover{background:rgba(135,206,250,0.4);}

div.linkbox img{width:70px; height:70px; }
div#addbook{float:left; display:block;margin-left:50px; margin-top:30px;}
div#addmember{float:left; display:inline-block; clear:both; position:relative; margin-left:50px;}
div#issuebk{float:right; display:inline-block; margin-right:60px; position:relative;}
div#returnbk{display:inline-block; float:right; margin-right:60px; position:relative;}
div#renew{display:inline-block; float:right; clear:both; margin-right:60px; position:relative;}
div#viewcatelog{float:left; display:inline-block; clear:left; margin-left:50px;}
div#UaccSettings{float:left; display:inline-block; clear:left; margin-left:50px;}
div#generatereport{float:right; display:inline-block; clear:both; margin-right:60px;}
div#AddnewAdmins{float:left; display:inline-block; clear:left; margin-left:50px; position: relative;}
div#prevRecods{display:inline-block; float:right; clear:right; margin-right:60px; position:relative;}


span.warningMsg{color:orangered;}
@media screen and (max-width: 1100px) {
	body {
		width: 1100px;
	}

	nav {
		width: 93px;
	}
}


p.WelMsg{float: right; position: relative;}
div.head_top{}




/*for slide show*/
* {box-sizing:border-box}

.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
	display:inline-block;
	box-sizing:border-box;
	border-radius:5px;
	padding:10px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
	margin:15px;
	transform: translate(30px,-160px);
	width:700px; height:300px;
	position: relative;
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {

	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	.text {font-size: 11px}
}



div.para1 , div.para2{
	text-align: justify;
	font-family: cursive,Arial, "Sans-serif", "Times New Roman";
	width: 350px;
	display:inline-block;
	padding:10px;
	position: relative;
}
div.para1{clear: both; display:inline-block;  transform: translate(300px,-500px);}
div.para2{clear: both; display: inline-block;  transform: translate(320px,-500px); }

h2.heading{color:rgb(249,112,7); text-shadow: 2px 2px 2px grey ; text-align: center;}

footer{position:absolute; display:block; padding:1px; width:100%; color:black; background-image:url("../images/footer.jpg");}