body{ width:100%; background-color:#DCDCDC;}
header{ padding:5px; color:white; background: linear-gradient(
    to left,
    rgba(73,4,4, 0),
    rgba(73,4,4, 100)
  ),url(../images/libimage.jpg);box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
  }
  
article{margin-left:100px; margin-right:100px;box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
		background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
		height:1000px; position:relative;}

  
img.siyanelogo{border-radius:100%; margin-right:25px; float:left; width:120px; height:120px; display:inline-block;}
nav{
	padding:20px 0;
	min-width:500px;
}

nav ul{
	margin-left:7px;
	margin-right:1px;
	padding-bottom:5px;
	padding-top:5px;
	width:93%;
	display:inline-table;
	transform:translate(10px,20px);
	z-index:33;
	background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
	box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}

li.logout{float:right;}
nav ul li{display:inline-block;}
nav ul li a{padding:10px; 
	color:white;
	font-size:18px;
	font-family:Arial;
	text-decoration:none;
	display:block;
}
nav ul li a:hover{color:orange;}

div.linkbox{
	display:block;
	margin:15px;
	text-decoration:none;
	border-radius:2px;
	width:110px;
	height:120px;
	background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	padding:8px 8px;
	box-sizing:border-box;
	box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
}
div.linkbox:hover{background:rgba(135,206,250,0.4);}

div.linkbox img{width:70px; height:70px; }
div#addbook{float:left; display:block;margin-left:50px; margin-top:30px;}
div#addmember{float:left; display:inline-block; clear:both; position:relative; margin-left:50px;}
div#issuebk{float:right; margin-right:60px; position:relative;}
div#returnbk{display:inline-block; float:right; margin-right:60px; position:relative;}
div#renew{display:inline-block; float:right; clear:both; margin-right:60px;position:relative;}
div#viewcatelog{float:left; display:inline-block; clear:left;margin-left:50px;}
div#UaccSettings{float:left; display:inline-block; clear:left;margin-left:50px;}
div#generatereport{float:right; display:inline-block; clear:both;margin-right:60px;}
div#AddnewAdmins{float:left; display:inline-block; clear:left;margin-left:50px; position: relative;}
div#bkSettings{float:right; display:inline-block; clear:right;margin-right:60px;}

div.slideshow{ display:block;	
				box-sizing:border-box;
				border-radius:5px;
				padding:10px; 
				background:-webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
				box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
				margin:15px; 
				transform:translate(30px,-600px);
				width:700px; height:300px; 
				animation-name:slideShow; 
				animation-duration:15s; 
				animation-iteration-count:infinite; 
				float:left;
}
@keyframes slideShow{
	0%{background-image:url(../images/1.jpg);}
	20%{background-image:url(../images/2.jpg);}
	40%{background-image:url(../images/3.jpg);}
	60%{background-image:url(../images/4.jpg);}
	80%{background-image:url(../images/5.jpg);}
	100%{background-image:url(../images/6.jpg);}
	}


