body{
    background-color:#DCDCDC;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:10px 280px ;
    height:100%;
    z-index:1;
    background-image:url("../images/library-1.jpg") ;
    position:relative;

}
div.logo_name{color:white;}


img.siyanelogo{border-radius:100%; margin-right:25px; float:left; width:120px; height:120px; display:inline-block;}

header{font-family:cursive, Arial, "Sans-serif", "Times New Roman"; padding:5px;  background: linear-gradient(
        to left,
        rgba(73,4,4, 0),
        rgba(73,4,4, 100)),url(../images/libimage.jpg);box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}


nav{
    padding:20px 0;
    min-width:500px;}
nav ul{
    margin-left:7px;
    margin-right:1px;
    padding-bottom:8px;
    padding-top:8px;
    width:93%;
    display:inline-table;
    transform:translate(10px,20px);
    z-index:33;
    background:linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)25%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
    box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);}
li.logout{float:right;}
nav ul li{display:inline-block;}
nav ul li a{padding:10px;
    color:white;
    font-size:18px;
    font-family:Arial;
    text-decoration:none;
}
nav ul li a:hover{color:orange;}



/*table, th, td {
    border: 1px solid #ddd;


}
th, td {
    padding: 15px;
}
th {
    text-align: left;
	background-color:black;
	color:white;
}
table{
	border-collapse: collapse;
}
tr:hover {background-color: #f5f5f5}*/
/*change the color of alternating rows*/
tr:nth-child(even){background-color: rgb(219,213,213);}

th {text-align:left;
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    align: center;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
table {
    box-shadow: rgba(0,0,0, 0.5) 0px 0px 8px;
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 800px;
}
div.MessageBox{ font-size:30px; text-align:center; vertical-align:middle; display:inline-block; padding: 10px; padding-top:100px;
    background:linear-gradient(0deg,rgba(188,189,146,1),rgba(204,206,154,1),rgba(178,179,136,1));
    border-radius:10px; margin:10px 0;width:500px; transform:translate(450px,50px);
    box-shadow: 0 0 25px rgba(0,0,0,0.6),inset 0 0 1px rgba(255,255,255,0.6);
    position:fixed; height:100px; z-index:30;}

div.topOfTable{ font-size: 20px;font-weight:bold;background:linear-gradient(0deg, rgb(194, 178, 158), rgb(183, 168, 148), rgb(158, 143, 126));
    margin:15px 0;width:350px; box-shadow: 0 0 25px rgba(0,0,0,0.6),inset 0 0 1px rgba(255,255,255,0.6);
    height:60px; z-index:30;}

button{border-radius:5px; background-color:#4CAF50; color:white; padding:14px 20px; margin:8px 0; border:none; cursor: pointer; width:25%; }
button:hover{opacity:0.6;}
button.renewBTN{width:25%; padding:14px 20px; background-color: #31a725;transform: translate(650px,0);}
button.cancelbtn{width:25%; padding:14px 20px; background-color:#F44336;transform: translate(650px,0);}

img.closeIcon{ width:50px; height:50px; z-index:31; float:right; padding-right:10px;}
td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
}
caption{font-family:Arial;
    font-size:30px;
    font-weight:bolder;
    background: linear-gradient(#777, #444);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    padding: 15px 30px;
    position: relative;
    text-shadow: 0 1px 0 #000;}
div.alert {
    z-index:70;
    position:relative;
    display:inline-block;
    transform:translate(500px,10px);
    padding: 20px;
    background-color: #f44336;
    color: white;
}

span.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

span.closebtn:hover {
    color: black;
}
a.closbtnlink{text-decoration: none; color:white; }
a.closbtnlink:hover{color:black;}